body {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 12px;
}

* {
	margin: 10px;
	font-family: 'Noto Sans KR', sans-serif;
	max-width: 800px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}

input {
	width: 100%;
}

input {
	border: none;
	border-bottom: 1px solid black;
    font-size:16px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


input[type=submit] {
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

a {
	text-decoration: none;
}

button {
	width: 100%;
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}