* {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}

body {
	text-align: center;
	max-width: 400px;
	width: 95%;
	margin: 0;
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0%);
}

img{
    width:100%;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  color: #777777;
  font-size: 12px;
}

input {
	width: 100%;
	font-size: 16px;
	border: 0px;
	border-bottom: 1px solid black;
	border-radius: 0px;
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

input[type=submit] {
	background-color: #228b22;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

hr {
	padding: 0px;
}

a {
	text-decoration: none;
}

button {
	width: 100%;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

.gap {
	height: 50px
}

.button1 {
	color: #228b22;
	background-color: #eeeeee;
}

.button2 {
	color: #B30D2B;
	background-color: #eeeeee;
}

table {
	width: 100%;
	border-spacing: 0;
}

th {
	text-align: left;
	margin: 0px;
}

td {
	text-align: left;
	margin: 0px;
}

input[type=radio] {
	width: 5%
}

.smallp {
	text-align: left;
	font-size: 12px;
	color: gray;
	margin-left: 10px;
	display: inline-block;
}

li {
	text-align: left;
	margin: 0px;
}

form {
	padding: 0px;
	margin: 0px;
}

.BalanceRecordTable {
	text-align: center;
	font-size: 10px;
}

.BalanceRecordTable tr:nth-child(even) {background: #eeeeee}
.BalanceRecordTable tr:nth-child(odd) {background: #ffffff}

.BalanceRecordTable th{
	text-align: center;
	background-color: #FBBC56;
	border: 0.5px solid black;
}
.BalanceRecordTable td{
	text-align: center;
	border: .5px solid black;
}

.dataShowerH2 {
	border-bottom: 1px solid black;
	padding: 0px;
	margin: 0px;
}

.dataShower {
	text-align: left;
	padding: 0px;
	margin: 0px;
}

summary {
	font-size: 20px;
	font-weight: bold;
	text-align: left;
}