* {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: -apple-system, system-ui, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
}

body {
	text-align: center;
	width: 400px;
	margin: 0;
	top: 10%;
	left: 50%;
	position: absolute;
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 15px; }

h6 {
  color: #777777;
  font-size: 12px;
}

input {
	width: 100%;
}

input {
	font-size: 16px;
	border: 0px;
	border-bottom: 1px solid black;
	border-radius: 0px;
}

input[type=submit] {
	background-color: #228b22;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

hr {
	padding: 0px;
}

a {
	text-decoration: none;
}

button {
	width: 100%;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
}

.gap {
	height: 50px
}

.button1 {
	color: #228b22;
	background-color: #eeeeee;
}

.button2 {
	color: #B30D2B;
	background-color: #eeeeee;
}

table {
	width: 100%;
	border-spacing: 0;
}

th {
  text-align: left;
}

td {
	text-align: left;
}

tr:first-child th:first-child {
    border-radius: 10px 10px 0 0;
}
tr:last-child th:first-child {
    border-radius: 0 0 10px 10px;
}

input[type=radio] {
	width: 5%
}

.smallp {
	text-align: left;
	font-size: 12px;
	color: gray;
	margin-left: 10px;
	display: inline-block;
}

.left {
	text-align: left;
}

li {
	text-align: left;
	margin: 0px;
}